<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8">
    <title>商品详情</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <style>
        *{padding: 0;margin: 0;}
        body{font-size: 14px; color: #6e6e6e;}
        .head{width: 100%;height: 212px;background: url("/img/background.png") ;background-size:cover;}
       /* .title{width: 100%;!*border: 1px solid #fff; *! text-align: center;  font-size: 16px;  height: 60px;  line-height: 60px;  color: #fff;  font-weight: 600;}*/
        .showPic{/*border:1px solid blue;*/margin:0px auto;width:242px;height: 274px; background:url("/img/picgroun3.png") no-repeat 50% 50%;margin-top: -192px;}
        .integral{display: block;  width: 100%;  height: 50px;  line-height: 50px;  /*border: 1px solid red;*/  text-align: center;  }
        .integral strong{font-size: 16px;color: #db4437;padding-right:5px;}
        .convertBtn{width: 150px;/*height: 75px;*//*border: 1px solid blue;*/margin: 0 auto;margin-top: 10px;}
        .overDate{width: 100%;display: block;color: #6e6e6e;text-align:center;}
        .btn{width: 142px;height: 60px;margin: 5px 0 0 5px;}
        .calNum{width: 100%;/*border: 1px solid red;*/margin: 24px 0 32px 0;text-align: center;}
        .calNum .item{margin: 0 10px;}
        .calNum .item_2{margin: 0 10px;}
        .useDirections{  width: 100%; /* border: 1px solid red;*/  display: block;  text-align: center;  color: #db4437; margin-bottom: 18px;}
        .useSpan{padding: 0 14px;}
        .line{width: 30%;  border-top: 1px solid #ebebeb;  display: inline-block;  height: 4px;}
        .directionsText{margin: 0 16px; line-height: 22px;color: #b7b7b7;}
    </style>
</head>
<body>
<div class="container">
    <%if(type===1){%>
    <div class="head">
        <!--<div class="title">
           &lt;!&ndash; <span><%=data.productname%></span>&ndash;&gt;
            <img src="/img/phone.png" alt="" style="float: right;margin-top: 23px;margin-right: 14px;width: 16px;height: 16px;">
        </div>-->
    </div>
    <div class="showPic">
        <img src="<%=data.productimg%>" alt="" style="width: 186px;height: 186px;margin: 22px 28px 0 28px;">
        <span class="integral"><strong>60</strong>积分</span>
    </div>
    <div class="convertBtn">
        <span class="overDate">截至日期： <%=data.enddate%></span>
        <!--<a href="###"><img src="/img/button.png" alt="" class="btn"></a>-->

    </div>
    <div class="calNum">
        <span class="item_1"><%=data.buycount%>人已兑换</span>
        <span class="item">|</span>
        <span class="item_2">剩于<%=data.productcount%>张 </span>
        <span class="item">|</span>
        <span class="item_3"><a href="###"></a>到店领取</span>
    </div>
    <div class="">
        <span class="useDirections"><i class="line"></i><span class="useSpan">使用说明</span> <i class="line"></i> </span>
        <p class="directionsText">每张积分获得的兑换券只限一人使用，超出收费标准，按当天店内实际价格收取费用。</p>
    </div>
    <%}else{ %>
   <!-- <div class="container"><h6><%=msg %></h6></div>-->
    <%}%>

</div>
</body>

</html>