<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 今日统计</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="widget big-stats-container">
                                <div class="widget-content">
                                    <h6 class="bigstats"> 驾校今日运营情况简介  </h6>
                                    <div id="big_stats" class="cf">
                                        <div class="stat">报名学员 <i class="icon-anchor"></i> <span class="value">
                                                <%=extradata.summarydata.applystudentcount%></span> </div>
                                        <!-- .stat -->
                                        <div class="stat">总课时 <i class="icon-thumbs-up-alt"></i> <span class="value">
                                                 <%=extradata.summarydata.coachstotalcoursecount%>
                                            </span> </div>
                                        <!-- .stat -->
                                        <div class="stat">预约学时 <i class="icon-twitter-sign"></i> <span class="value">
                                                 <%=extradata.summarydata.reservationcoursecountday%>
                                            </span> </div>
                                        <!-- .stat -->
                                        <div class="stat">评论 <i class="icon-bullhorn"></i> <span class="value">
                                                 <%=extradata.summarydata.commentstudentcount.goodcommnent%>
                                                <!--<%=extradata.summarydata.commentstudentcount.generalcomment%>/-->
                                                <!--<%=extradata.summarydata.commentstudentcount.badcomment%>-->
                                            </span> </div>

                                        <!-- .stat -->
                                    </div>
                                </div>
                                <!-- /widget-content -->

                            </div>
                        </div>
                    </div>
                    <!-- /widget -->
                    <div class="widget widget-nopad">
                        <div class="widget-header"> <i class="icon-list-alt"></i>
                            <h3> 今日新闻</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <ul class="news-items">
                            <% extradata.newsinfo.forEach(function(r,index){ %>
                                <li>

                                    <div class="news-item-date"> <img src="<%=r.logimg%>"style="width: 60px;height: 60px"> </div>
                                    <div class="news-item-detail">
                                        <a   href="<%=r.contenturl%>>" class="news-item-title" target="_blank"><%=r.title%></a>
                                        <p class="news-item-preview"><%=r.description%> </p>
                                    </div>

                                </li>
                            <%})%>
                            </ul>
                        </div>
                        <!-- /widget-content -->
                    </div>

                </div>
                <!-- /span6 -->
                <div class="span6">
                    <div class="widget">
                        <div class="widget-header"> <i class="icon-bookmark"></i>
                            <h3>明星教练</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="shortcuts">
                                <% extradata.coachdata.forEach(function(r,index){
                                if (index>9){return}%>
                                <a href="javascript:;" class="shortcut">
                                    <i><img src="<%=r.headportrait.originalpic%>"style="width:60px;height: 60px;" alt="" class="img-responsive"></i><span
                                            class="shortcut-label"><%=r.name%></span> </a>
                                <%})%>
                                <!--<a href="javascript:;" class="shortcut"><i-->
                                    <!--&gt;<img src="" alt="" class="img-responsive">-->
                                    <!--</i><span class="shortcut-label">Name</span> </a>-->
                                <!--<a href="javascript:;" class="shortcut"><i><img-->
                                                <!--src="" alt="" class="img-responsive"></i> <span class="shortcut-label">Name</span> </a><a href="javascript:;" class="shortcut"> <i><img-->
                                                <!--src="" alt="" class="img-responsive"></i><span class="shortcut-label">Name</span> </a><a href="javascript:;" class="shortcut"><i><img-->
                                                <!--src="" alt="" class="img-responsive"></i><span-->
                                            <!--class="shortcut-label">Name</span> </a><a href="javascript:;" class="shortcut"><i-->
                                    <!--&gt;<img src="" alt="" class="img-responsive"></i><span class="shortcut-label">Name</span> </a><a href="javascript:;" class="shortcut"><i><img-->
                                                <!--src="" alt="" class="img-responsive"></i> <span class="shortcut-label">Name</span> </a><a href="javascript:;" class="shortcut"> <i><img-->
                                                <!--src="" alt="" class="img-responsive"></i><span class="shortcut-label">Name</span> </a>-->
                            </div>
                            <!-- /shortcuts -->
                        </div>
                        <!-- /widget-content -->
                    </div>

                    <!-- /widget -->
                    <div class="widget">
                        <div class="widget-header"> <i class="icon-signal"></i>
                            <h3> 月统计</h3>
                        </div>
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>
                            <!-- /area-chart -->
                        </div>
                        <!-- /widget-content -->
                    </div>

                </div>
                <!-- /span6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>